<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customMapper.CustomFileMapper">
	<insert id="insertFile" parameterType="Map">
			insert into file
			(
			file_id             ,
			module              ,
			album_id            ,
			voice_id            ,
			type                ,
			file_name           ,
			file_extension      ,
			file_size           ,
			upload_time         ,
			file_content_type
			)
		values
			(
			UUID(),
			#{module},
			#{album_id},
			null,
			#{type},
			#{file_name},
			null,
			null,
			NOW(),
			null
			)
	</insert>
	<!-- 添加主播音乐所属图片 -->
	<insert id="insertMultiMediaImg" parameterType="Map">
			insert into file
			(
			file_id             ,
			module              ,
			album_id            ,
			voice_id            ,
			type                ,
			file_name           ,
			file_extension      ,
			file_size           ,
			upload_time         ,
			file_content_type
			)
		values
			(
			UUID(),
			#{module},
			#{album_id},
			#{voice_id},
			#{type},
			#{file_name},
			'11',
			'11',
			NOW(),
			'11'
			)
	</insert>
	<!-- 插入多媒体文件 -->
	<insert id="insertMultiMediaFile" parameterType="Map">
			insert into file
			(
			file_id             ,
			module              ,
			album_id            ,
			voice_id            ,
			type                ,
			file_name           ,
			file_extension      ,
			file_size           ,
			upload_time         ,
			file_content_type
			)
		values
			(
			UUID(),
			#{multimedia_module},
			#{album_id},
			#{voice_id},
			#{multimedia_type},
			#{multimedia_file_name},
			'11',
			'11',
			NOW(),
			'11'
			)
	</insert>
	<!-- 添加一级专辑封面 -->
	<insert id="insertAlbumLv1File" parameterType="Map">
			insert into file
			(
			file_id             ,
			module              ,
			album_id            ,
			voice_id            ,
			type                ,
			file_name           ,
			file_extension      ,
			file_size           ,
			upload_time         ,
			file_content_type
			)
		values
			(
			UUID(),
			#{module},
			#{album_id_lv1_pinyin},
			'11',
			#{type},
			#{file_name},
			'11',
			'11',
			NOW(),
			'11'
			)
	</insert>
	<!-- 添加二级专辑封面 -->
	<insert id="insertAlbumLv2File" parameterType="Map">
			insert into file
			(
			file_id             ,
			module              ,
			album_id            ,
			voice_id            ,
			type                ,
			file_name           ,
			file_extension      ,
			file_size           ,
			upload_time         ,
			file_content_type
			)
		values
			(
			UUID(),
			#{module},
			#{album_id_lv2_pinyin},
			'11',
			#{type},
			#{file_name},
			'11',
			'11',
			NOW(),
			'11'
			)
	</insert>
</mapper>