<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customMapper.CustomUserInfoMapper">
	<select id="checkUser" resultType="Integer">
		select 
			count(user_name)
		from
			user
	    where 
	    	user_name = #{userName} and user_pwd = #{userPwd};
	</select>
	<select id="getUserInfo" resultType="Map">
		select 
			*
		from
			user
	    where 
	    	user_name = #{user_name} and user_pwd = #{user_pwd};
	</select>
	
	<select id="getUserListByPage"  parameterType="Map" resultType="Map">
		select
			user_id        ,
			user_name      ,
			gender         ,
			tel            ,
			weichat        ,
			qq             ,
			last_login_time,
			state
		from
			user
   		<where>
		 	<if test="user_name != null and user_name != ''">
			 	and US_NAME like '%${nickName}%'
		 	</if>
		 <!-- 	<if test="order != null and sort != null">
			 	ORDER BY ${sort} ${order}
		 	</if> -->
	 	</where>	
	 </select>
</mapper>