<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customMapper.CustomAlbumMapper">
	<insert id="insertAlbum" parameterType="Map">
		insert into album
			(
			album_id,
			album_name,
			create_time,
			remark
			)
		values
			(
			#{album_id},
			#{album_name},
			NOW(),
			#{remark}
			)
	</insert>
	<select id="getAlbumListByPage" parameterType="Map" resultType="Map">
		SELECT 
			a.album_id,
			a.album_name,
			a.create_time,
			a.remark,
<!-- 			CONCAT(#{rel_path}, b.album_id,'/',b.file_name) as album_img -->
<!-- 			b.file_name as album_img	 -->				
			CONCAT(b.type, '/', b.module, '/', b.file_name) as album_img																																											
		 FROM
			album a
		LEFT JOIN
		file b
			ON 	a.album_id = b.album_id
		<where>
			<if test="album_name != null and album_name != ''">
				a.album_name like '%${album_name}%'
			</if>
		</where>
	</select>
	<select id="getAllAlbumList" resultType="Map">
		SELECT  
			album_id,
			album_name
		FROM
			album
	</select>
	<!-- 添加一级专辑 -->
	<insert id="insertAlbumLv1" parameterType="Map">
		insert into album
			(
			album_id,
			album_name,
			create_time,
			remark
			)
		values
			(
			#{album_id_lv1_pinyin},
			#{album_id_lv1},
			NOW(),
			#{remark}
			)
	</insert>
		<!-- 添加一级专辑 -->
	<insert id="insertAlbumLv2" parameterType="Map">
		insert into album
			(
			album_id,
			album_name,
			create_time,
			remark,
			parent_id
			)
		values
			(
			#{album_id_lv2_pinyin},
			#{album_id_lv2},
			NOW(),
			#{remark},
			#{album_id_lv1_pinyin}
			)
	</insert>

</mapper>