/*home页面css*/
.logo{font-size: 40px; font-weight: bold; color:deeppink;}
.menu{background-color: #e72d41; height: 53px;line-height: 53px;}
.menu>ul{height: 53px;}
.menu>ul>li{color:#FFFFFF; float:left; display: block; margin:auto 5%; font-weight: bold;}
.content > div[class^="part"] {padding: 3% 10%; width: 80%; float: left;}
.content > div[class^="part"] >h2{color:darkgreen}
.items{}
.items> ul> li {float: left; display: block; width: 30%; margin:1% 1%;}
.items> ul> li img{width: 98%; height:98%;}

/*recList頁面css*/
.recDetailLogo{width:100%; height:100%;position:relative;}
.recDetailLogo>img{width:100%;}
.desc{width:100%; height: 20%;position: absolute; background-color: rgba(11, 11, 11, 0.44);bottom: 2px; color:#f7f7f7;}
.desc>a{bottom:18%;right:6%;position:absolute;}
.descText{top:14%;left:3%;position:absolute;}
.descText >span:first-child{font-size: 1.3rem;}
.recList{padding: 4%;background: #2f2c2c;margin-top: -2px;}
.recList >ul>li{width:98%; height: 40px; line-height: 40px; border-bottom: 1px solid #f7f7f7;}
.recList > ul > li >span:first-child{color: #f7f7f7; font-size: 1.3rem;}
.recList > ul > li >a{display:inline-block; margin-left:7%; color:#f7f7f7;}
.recList > ul > li >a>span{ color:#f7f7f7;}
.loadMore{width:100%; height:40px; background:#f7f7f7;text-align:center;}
.loadMore>a{width:30%;background-color:lightgray;border-radius:54%;height:40px;line-height:40px;display:inline-block;}

/*recPlayer頁面css*/
.recBox{background-image: url(../img/blue.png); background-size: cover;text-align: center;}
.recName{display:inline-block; height:40px;line-height: 40px;color: #f7f7f7;}
.recPic{padding: 10px;margin:10px;background-color:#f7f7f7;border-radius: 50%;}
.recPic > img{width: 100%; border-radius:50%}
.processBar{height: 50px; line-height:50px; position: relative;}
.recCurTime, .processAll, .ProcessActive, .recAllTime,.processDiv{position: absolute;}
.recAllTime{right: 2%;}
.processDiv{width:70%;height: 5px;left: 15%;top: 43%;}
.processAll{width: 100%;background:darkgray;height: 5px;}
.ProcessActive{background:#f7f7f7;height: 5px;width: 53%;}
.recControl{position: relative;}
.recControl > a:last-child{top:6%;right: 6%; position: absolute;}
.play > img{width: 10%;}
.showrecList{display:none;height: 80%; background-color: #F7F7F7;position: absolute;top:20%;width:100%}
.showrecList p:first-child{height: 40px;line-height: 40px;border-bottom: 1px solid darkgray;}
.showrecList p:last-child{height: 40px;line-height: 40px;border-top: 1px solid darkgray;position: absolute;bottom: 1px;width: 100%;}
.showrecList > ul> li{height: 38px;line-height: 38px; border-bottom: 1px solid darkgray; text-align: left; margin-left:10px;}
.closerecList{position:fixed; bottom:0; background:#f5f1f1;}